<%- include('../includes/head.ejs') %> 
</head>

<body>
  <%- include('../includes/navigation.ejs') %> 
    <main>
      <% if (cart.products.length < 1) { %>
        <h1>No product in cart!</h1>
      <% } else {  %>
        <ul>
          <% cart.products.forEach((product) => { %> 
            <li>
              <p><%= product.title %> (<%= product.SequelizedCartsProducts.quantity %>) </p>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" name="id" value="<%= product.id %>">
                <button class="btn">Delete</button>
              </form>
            </li>
          <% }) %>
        </ul>
        <form action="/create-order" method="POST">
          <button class="btn">Place order</button>
        </form>
        <h2>Total price: <%= cart.totalPrice %></h2>
      <% } %> 
    </main>
  <%- include('../includes/tail.ejs') %> 
  