<%- include('../includes/head.ejs') %> 
</head>
<body>
  <%- include('../includes/navigation.ejs') %> 
    <main>
      <% if (cart?.products?.length > 0) { %>
        <ul>
          <% cart.products.forEach((product) => { %> 
            <li>
              <p><%= product.title %> (<%= product.quantity %>) </p>
              <h3>$<%= product.totalPrice %> </h2>
            </li>
          <% }) %>
        </ul>
        <div>
          <button class="btn" id="order-button">Place order</button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            var stripe = Stripe('pk_test_51MQcjIFaxzNV9iaNuiQdqNQiab8SPwl4Ylt3uUCxPV0z20YRKs5nXG8X1jLerjEKYZ8AaMYHDGFHEupoYrVsWvXC00ynvQuamA'); 
            var orderButton = document.getElementById('order-button');
            orderButton.addEventListener('click', function() {
              stripe.redirectToCheckout({
                sessionId: '<%= sessionId %>'
              })
            })
          </script>
        </div>
        <h2>Total price: $<%= cart.totalPrice %></h2>
      <% } else {  %>
        <h1>No product to order!</h1>
      <% } %> 
    </main>
  <%- include('../includes/tail.ejs') %> 
  