<%- include('../includes/head.ejs') %> 
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <main>
      <p><%= error && error %></p> 
      <form class="login-form" action="/login" method="POST">
        <div class="form-control">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" value="<%= data.email %>"/>
        </div>

        <div class="form-control">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" value="<%= data.password %>" />
        </div>
        
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button>Login</button>
      </form>
      <a href="/request-password-reset">Reset Password</a>
    </main>
  <%- include('../includes/tail.ejs') %> 